---
---
@font-face {
    font-family: baron-neue;
    src: url("{{ site.url }}/destinationSol/fonts/baron-neue.otf");
}

body {
	padding: 0;
	border-top: 4px solid #edc27b;
	border-radius: 10px;
    background: url("{{ site.url }}/destinationSol/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.goldenText {
	color: #edc27b;
}

.silverText {
    color: #dddddd;
}

.navigationList li {
    display: inline;
    margin-right: 20px;
}

.circleImage {
	border-radius: 50%;
}

.baronFont {
    font-family: "baron-neue";
}

.centerAlignText {
	text-align: center;
}

.justifyText {
	text-align: justify;
}

#pageContainer {
	display: flex;
    width: 95%;
    margin: 0.5em auto;
}

#postContainer {
	flex: 4;
	padding-right: 1em;
}

#previousPosts {
	flex: 1;
	text-align: center;
	padding-left: 1em;
}

#previousPosts li {
	display: block;
	margin-top: 0.5em;
}

#aboutSection {
    border-bottom: 1px solid #edc27b;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#aboutSection li {
	overflow: hidden;
	white-space: nowrap;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #edc27b;
}