<!DOCTYPE html>

<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/destinationSol/css/main.css">
	</head>

	<body>
		<div id="pageContainer" class="silverText">
			<div id ="postContainer" class="container">
				<div class="baronFont centerAlignText" style="font-size: 2.5em; margin-top: 0.25em;">
					DESTINATION SOL
				</div>
				<div class="baronFont centerAlignText" style="font-size: 1.25em; margin-top: 0.5em;">
					rESSUrECTED
				</div>
				<div class="justifyText" style="margin-top: 1.5em;">
					{{ content }}
				</div>
			</div>

			<div id="previousPosts">
				<div id="aboutSection">
					<li><img src="{{ site.url }}/destinationSol/images/authorImage.jpg" class="circleImage" style="width: 50%;"></li>
					<li>Aresh "<span class="goldenText">vampcat</span>" Mishra</li>
					<li>{ Code, Game, Sleep }</li>
				</div>
				<li style="display: block;"><img src="{{ site.url }}/destinationSol/images/rocket.png" style="width: 50%;"></li>
				<li>» <a href="{{ site.url }}/destinationSol/index.html">Home</a></li>
				{% for post in site.posts %}
					<li>» <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</div>
		</div>
	</body>
</html>